.container-inicio-cima {
    margin: 10rem 0 6rem 0;
    border-radius: 1rem;
    padding: 5rem 5rem 7rem 5rem;
    background-color: #8c8adb;
}

.container-inicio-cima h2 {
    color: #ffffff;
    font-size: 3rem;
    font-weight: bold;
}
 
.container-inicio-cima p {
    color: #fff;
    font-size: 1.7rem;
    margin: 2rem 0 2rem 0;
    width: 60%;
}
 
.container-inicio-cima button {
    padding: 1.3rem;
    border: none;
    border-radius: .5rem;
    margin-right: 1rem;
    font-weight: bold;
    border: .2rem solid #fff;
    cursor: pointer;
}
 
button:nth-of-type(1) {
    color: #000000;
}
 
button:nth-of-type(2) {
    background-color: transparent;
    color: #fff;
}
 
.container-inicio-cima button:hover {
    transform: scale(1.05);
    transition: ease .2s;
 
}
 
.container-inicio-baixo h2,
.terceiro-container h2 {
    text-align: center;
    font-size: 3rem;
    margin-bottom: 2rem;
}
 .container-caixa-consequencias article h3:first-of-type {
    margin-top: -1rem;
}
.container-caixa-consequencias {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
 
.container-caixa-consequencias article {
    padding: 2rem;
    width: 31%;
    background-color: #fff;
    border-radius: 1rem;
}
 
.container-caixa-consequencias article h3 {
    margin: 1rem 0 1rem 0;
    font-size: 2.2rem;
    color: #000000;
}
 
.container-caixa-consequencias article p {
    font-size: 1.8rem;
    color: #494949;
}
 
.terceiro-container {
    width: 100%;
    margin-top: 5%;
}
 
.dentro-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #fff;
    padding: 2rem;
    border-radius: 1rem;
}
 
.dentro-container-esquerda,
.dentro-container-direita {
    width: 49%;
}
 
.dentro-container-direita {
    background-color: #f0f0f0;
    border-radius: 1rem;
    padding: 1rem;
}
 
.dentro-container-esquerda h3 {
    font-size: 3rem;
    margin-bottom: 5rem;

}
 
.dentro-container-esquerda p {
    font-size: 2.5rem;
    line-height: 1.6;
    color: #1d1d1d;
}

.dentro-container-esquerda h4 {
    font-size: 3rem;
    color: #d80000;
    margin-top: 4rem;

}

.dentro-container-esquerda {
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* <- muda de center para flex-start */
    padding: 2rem;
}

.dentro-container-direita img {
    width: 100%; 
    height: auto;
    border-radius: 1rem; 
    object-fit: contain; 
}


 
@media (max-width: 530px) {
 
    .container-inicio-cima h2,
    .container-inicio-cima p {
        text-align: center;
        width: 100%;
    }
 
    .container-inicio-cima button {
        width: 100%;
        margin: .5rem 0;
    }
 
    .container-caixa-consequencias {
        flex-direction: column;
    }
 
    .container-caixa-consequencias article {
        width: 100%;
        margin: 1rem 0;
    }
 
    .dentro-container {
        flex-direction: column;
        margin-bottom: 7rem;
    }
 
    .dentro-container-esquerda,
    .dentro-container-direita {
        width: 100%;
    }
 
    .dentro-container-esquerda {
        margin-bottom: 3rem;
    }

    .dentro-container-esquerda h3 {
    font-size: 2.2rem;
    text-align: center;
    }

    .dentro-container-esquerda p {
        font-size: 1.6rem;
        text-align: justify;
    }

    .dentro-container-esquerda h4 {
        font-size: 2rem;
        text-align: center;
    }

    .dentro-container-direita img {
        max-height: 300px;
        object-fit: cover;
    }

    .dentro-container-esquerda {
        padding: 1rem;
    }
    
    .dentro-container {
    gap: 2rem;
    }

}