body {
  background-color: #e6d6fd; /* Fundo geral roxo claro */
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

h2 {
    margin-top: 12rem;
    font-size: 3rem;
    text-align: center;
}
 
main p {
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 4rem;
}
 
.container-equipe {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1.5rem;
    padding: 2rem;
  
}
 
.equipe {
  background: #917cd8;
  border: 2px solid black;
  box-sizing: border-box;
  text-align: center;
  width: 300px;
  padding: 2rem 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.conteudo-equipe {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  justify-content: center;
}
 
.equipe-avatar {
    width: 180px;
    height: 180px;
    background-color: white;
    border-radius: 50%;
    margin: 0 auto 1rem auto;
    overflow: hidden;
}
 
.equipe-avatar img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.equipe h3 {
    margin: 1rem 0 0.5rem 0;
    font-size: 2rem;
    font-weight: bold;
    color: black;
    padding-bottom: 2.5rem;
}
 
.subtitulo-equipe {
    color: black;
    font-size: 1.5rem;
    margin: 0;
}
 
.descricao {
    font-size: 1.5rem;
    padding: 0 0.5rem;
    margin: 2rem;
    color: black;
    text-align: center;
}
 
.icones-equipe {
  margin-top: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.2rem;
  padding-top: 2rem;
}

 
.icones-equipe a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3.5rem;
  height: 3.5rem;
  transition: transform 0.2s ease-in-out;
}

.icones-equipe img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.icones-equipe a:hover {
  transform: scale(1.1);
}

.nossa-missao {
    background-color: #fff;
    margin-top: 4rem;
    border-radius: 1rem;
    padding: 3rem 3rem 1rem 3rem;
    box-shadow: 0 .4rem 1rem rgba(0, 0, 0, 0.1);
}
 
.nossa-missao h3 {
    font-size: 2.1rem;
    margin-bottom: 2rem;
}
 
.nossa-missao p {
    text-align: start;
    font-size: 1.6rem;
}
 
.icone-github,
.icone-linkedin,
.icone-email {
    width: 3rem;
    height: 3rem;
}
 
@media (max-width: 850px) {
    .container-cards {
        flex-direction: column;
        align-items: center;
    }
 
    .card {
        width: 100%;
        margin-bottom: 3rem;
    }
}